@import 'global';

.section-green {
  background-color: $light-green;
  text-align: center;
  padding: 2rem;

  h1 {
    font-family: $font-title;
    font-size: 2.5rem;
    color: $dark-green-title;
  }

  p {
    font-family: $font-body;
    font-size: 1rem;
    color: $dark-green-text;
  }
}

.section-dark {
  background-color: $dark-green-text;
  color: $white;
  padding: 2rem;

  h2 {
    font-family: $font-title;
    color: $light-green;
    font-size: 2rem;
  }

  p {
    font-family: $font-body;
    font-size: 1rem;
    color: $white;
  }
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: $gray;

  p {
    font-family: $font-body;
    color: $white;
    font-size: 0.875rem;
  }
}
