* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.options a {
    margin-right: 25rem;
    text-decoration: none;
    justify-content: space-between;
    color: #333;
    font-weight: bold;
}

.grid_lay_out{
    display: grid;
    grid-template: repeat(2, 1fr)/ repeat(2, 330px);
    padding: 40px 20px;
    margin: 0 auto; 
    width: fit-content;
}

.card {
    text-align: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
}